<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="mb-0">Créer un compte</h2>
                </div>
                <div class="card-body">
                    <form (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">Nom d'utilisateur :</label>
                            <input type="text" id="username" name="username" class="form-control" [(ngModel)]="username"
                                required>
                        </div>
                        <div class="form-group">
                            <label for="password">Mot de passe :</label>
                            <input type="password" id="password" name="password" class="form-control"
                                [(ngModel)]="password" required>
                        </div>
                        <div class="mb-3">
                            <label for="phone" class="form-label">N° de téléphone :</label>
                            <div class="input-group">
                                <span class="input-group-text">+33</span>
                                <input type="tel" class="form-control" id="phone" name="phone" [(ngModel)]="phone"
                                    placeholder="ex : 6 60 60 60 60" required>
                            </div>
                        </div>
                        <div *ngIf="loginError" class="text-danger mb-3">{{ loginError }}</div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>